.db_info {
    display: none;
}

#setup p {
	margin-left: 9px;
	margin-right: 9px;
}

.mobilAP_setupbutton {
    width: 85px;
    height: 25px;
    background-image: url(../../safari/Images/button.png);
    background-repeat: no-repeat;
    text-align: center;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 12px;
    color: rgb(255, 255, 255);
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0) 0px -1px 0px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    line-height: 25px;
    cursor: pointer;
    float: left;
    margin-left: 9px;
}

#db_type_list {
	margin: 0;
	padding: 0;
}
#db_type_list li {
	list-style-type: none;
	margin-left: 9px;
	margin-bottom: 9px;
}

#setupButtons {
    position: relative;
    margin-top: 9px;
    height: 25px;
}

#setupStack label {
	display: block;
    margin-top: 9px;
    font-weight:bold;
}

#setupStack input {
	font-size: 14px;
	height: 18px;
}

.db_supported {
	color: #00DD00;
}

.db_notsupported {
	color: #DD0000;
}

#db_test_results {
	margin: .5em 0 .5em 0;
	color: red;
	font-weight: bold;
}

#setup fieldset {
	border: 1px solid rgb(150,150,150);
	margin-left: 9px;
	margin-right: 9px;
	margin-bottom: 9px;
}

#setup legend {
	font-weight: bold;
	font-size: 14px;
	color: #3771B7;
}


#setup .mobilAP_switch {
	margin-bottom: 9px;
}