body {
    font-family: Helvetica;
}

#question_text {
    text-align: center;
    color: black;
    font-size: 24px;
    margin-right: 0px;
    margin-bottom: 9px;
    margin-left: 0px;
    padding-left: 6px;
    padding-right: 6px;
    position: relative;
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-top: 7px;
    min-height: 28px;
    height: auto;
    opacity: 1;
}

#question_answers {
	padding: 0;
	margin: 0;
    border-style: solid;
    border-width: 1px;
    border-color: rgb(172, 172, 172);
    -webkit-border-top-right-radius: 8px 8px;
    -webkit-border-top-left-radius: 8px 8px;
    -webkit-border-bottom-left-radius: 8px 8px;
    -webkit-border-bottom-right-radius: 8px 8px;
    position: relative;
    width: auto;
}

.label_template {
    position: absolute;
    top: 12px;
    height: 22px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    left: 11px;
    color: black;
    right: 29px;
    width: auto;
}

.question_response_list_template_template {
    position: relative;
    list-style-type: none;
    min-height: 43px;
    overflow: hidden;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    padding: 0px;
    border-style: solid;
    border-width: 0px;
    border-color: rgb(172, 172, 172);
    -webkit-margin-top-collapse: separate;
    -webkit-margin-bottom-collapse: separate;
    margin-right: 0px;
    width: auto;
}


.question_response_text_label_template {
    position: absolute;
    top: 12px;
    height: 22px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    left: 11px;
    color: black;
    right: 29px;
    width: auto;
}

.label_template_right {
    position: absolute;
    top: 12px;
    height: 22px;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 20px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    color: black;
    right: 11px;
    width: auto;
}

#question_response_chart {
	display: block;
	margin: 0 auto;
}