body {
	margin: 0;
	padding: 0;
	font-family: Helvetica, arial, sans-serif;
	font-size: 12px;
	background: white;
}

label {
	display: block;
	font-weight: bold;
	margin-top: 1em;
}

a {
	text-decoration: none;
	color: blue;
}

a:hover {
	color: #0000aa;
}

li {
	margin-top: 1em;
	margin-bottom: 1em;
}

fieldset {
	margin: 1em 0 1em 0;
	border: 1px solid #333;
}

legend {
	font-weight: bold;
	font-size: 1.25em;
}

#footer {
	font-style: italic;
}

.message{
	background: #D0ECFF;
	padding: 5px;
	font-weight: bold;
	border: #999999 solid 1px;
	margin-bottom: 1em;
}

.error{
	background: #FFEEEE;
	border: solid red 1px;
	padding: 5px;
	margin-bottom: 1em;
	font-weight: bold;
	color: #333;
}

.explanation {
	font-style: italic;
}

.clearbox {
	clear: both;
}

.row1,
.row1 td
{
	background: #E7E7E7;
	padding: 2px;
}

.row2,
.row2 td
{
    background: #D9D9D9;
	padding: 2px;
}

.content {
	padding: 0 1em 3em 1em;
}

/* NAV */

.nav {
	margin: 0;
	padding: 0;
	width: 800px;
	height: 25px;
	background-color: #333333;
	color: white;
}

.nav li {
	margin: 0;
	background-repeat: repeat-x;
	text-align: center;
	height: 25px;
	line-height: 25px;
	list-style-type: none;
	float: left;
	width: 130px;
	font-weight: bold;
}

.nav li:hover {
	background: #555555;
}

.nav a {
	color: white;
	display: block;
}

.nav a:hover {
}

.nav li.active {
	background-color: #B52C00;
}

.nav li#login_nav {
	width: 270px;
	font-weight: normal;
	text-align: right;
}

.nav li#login_nav:hover {
	background: #333333;
}

.nav li#login_nav a {
	color: #EE2C00;
	display: inline;
}
